.loginPage {
    @apply w-[80%] py-14 mx-auto grid grid-cols-12 items-center gap-4;

    .ArticalDefault {
        @apply h-full col-span-6 relative;

        img {
            @apply w-full object-cover rounded-3xl;
        }


        .modal__info {
            @apply absolute w-full top-10 left-10 z-20 px-12 py-14;

            h2 {
                @apply text-white font-bold text-3xl mb-8;
            }

            ul {
                li {
                    @apply flex items-center gap-3 mb-6;

                    p {
                        @apply text-white;

                    }

                    svg {
                        @apply text-white;
                    }
                }
            }

            .info__item {
                @apply flex px-4 py-2 rounded-full border items-center gap-3 bg-white mb-6;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                svg {
                    @apply text-green-400;
                }

                &:first-child {
                    @apply w-2/4;
                }

                &:last-child {
                    @apply w-3/4 float-end;
                }
            }
        }
    }

    .login__wrapper {
        @apply col-span-6 p-12;

        h1 {
            @apply text-4xl font-semibold mb-4;
        }

        h2 {
            @apply text-zinc-400 mb-12;
        }

        .form__wrapper {
            @apply mt-8;

            .modal__form {
                @apply flex flex-col justify-center mb-4;

                label {
                    @apply font-semibold text-black mb-2;
                }

                input {
                    @apply px-4 py-2 border outline-none rounded-md;

                    &.error {
                        @apply border-red-500;
                    }
                }
            }

            .btn__wrapper {
                @apply mt-8;

                button {
                    @apply w-full rounded-lg px-6 py-2 font-semibold border flex flex-col items-center justify-center mb-3;

                    &.active {
                        @apply bg-black text-white;
                    }

                    &.unactive {
                        @apply bg-gray-200 text-gray-500;
                    }
                }

                &:last-child {
                    @apply mt-4 flex justify-between items-center gap-5;
                }

            }

            .breakline {
                @apply text-center;

                &::after {
                    content: '';
                    @apply ml-3 inline-block w-6 h-[2px] bg-black rounded-full;
                }

                &::before {
                    content: '';
                    @apply mr-3 inline-block w-6 h-[2px] bg-black rounded-full;
                }
            }

            .btn-back {
                @apply absolute top-5 left-9;

                svg {
                    @apply mr-2;
                }
            }
        }
    }
}